.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 65px 0;
}

.banner h1  {
  color: white;
  font-size: 50px;
}

.banner p {
  color: white;
  font-size: 20px;
}

.button-banner  {
  line-height: 70px;
  color: white;
  padding: 10px 18px;
  background-color: green;
  border-radius: 20px;
}
